@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
}

header h1 {
  background-color: #a6c3cec3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero {
  height: 100%;
  width: 99%;
}

.main-content {
  display: flex;
  align-items: center;
  margin: 0 150px;
  justify-content: space-between;
  margin-top: 100px;
}

img {
  width: 450px;
  height: 340px;
  border-radius: 20%;
}

.content {
  margin-top: 60px;
}

.content h1 {
  font-size: 60px;
}

.content h2 {
  font-size: 50px;
}

.paragraph {
  margin: 0px 150px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.paragraph h1 {
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

.paragraph p {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 28px;
  margin-top: 10px;
}

.writings {
  margin: 0px 150px;
  margin-bottom: 50px;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.writings ul {
  font-size: 18px;
  margin-top: 20px;
}

.writings ul li {
  margin-top: 8px;
}

footer {
  background-color: #b5b5a9b0;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 150px;
}
